*{
   margin: 0;
   padding: 0;
}
.nav-title{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-weight: bold;
}
.nav-btn{
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 17px;
}
.banner{
    display: flex;
    padding: 90px;
    height: 300px;
    margin: 0 50px;
    justify-content: space-around;
    background-color: #b7e8cf;
    border-radius: 10px;
}
.text-section{
    padding: 10px;
    font-size: 25px;
}
.banner-btn{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #006A50;
    color: white;
}
.img-section{
    display: flex;
}
/* vision-future-section */
.future-section{
  padding: 40px;
  margin: 10px 10px 20px;
}
.future-title{
    font-weight: bold;
    margin-bottom: 10px;
}
.future-description{
    margin-bottom: 15px;
}
.vision{
    display: flex;
    margin-top: 10px;
}
.vision-info1{
    padding: 30px;
    margin: 0 50px 1px 0;
    border-radius: 10px;
    background-color: #b3e7da;
}
.vision-info2{
    padding: 30px;
    margin: 0 50px 1px 0;
    border-radius: 10px;
    background-color: coral;
}
.vision-info3{
    padding: 30px;
    margin: 0 50px 1px 0;
    border-radius: 10px;
    background-color: cyan;
}
.btn-primary{
    padding: 8px 15px;
    font-size: 12px;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
    background-color: rgb(86, 197, 141);
}
.btn-1{
    background-color:chartreuse ;
}
.btn-2{
    background-color: cyan;
}
.btn-3{
    background-color: coral ;
}
/* news-section styles */
.news-section{
    margin: 10px 40px;
    padding: 10px;
}
.card-1{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(166, 165, 165);
}
.card-img{
    font-size: 100px;
    padding: 2px 2px;
    border-radius: 10px;
}
.card-1-img{
    border-radius: 20px;
}
.card-text{
    margin: 10px 10px 0 10px;
}
.card-title{
    font-weight: bold;
    margin-bottom: 15px;
}
.card-time{
    display: flex;
    gap: 10px;
    margin: 10px 0;
    color: #595656;

}
.card-description{
    margin: 10px 0;
    color: #595656;
}
/* donate-section styles */
.donate{
    text-align: center;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 20px 50px;
    box-shadow: 2px 2px 10px rgb(214, 213, 213);
}
.donate:hover{
    background-color: rgb(161, 209, 209);
}
.donate-btn{
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 10px;
    margin: 15px;
    text-decoration: none;
    
}
.donate-btn:hover{
    background-color: tomato;
}
.tk-1:hover{
    background-color: springgreen;
}
.tk-2{
    background-color: yellow;
}
.tk-2:hover{
    background-color: green;
}
.tk-3:hover{
    background-color: pink;
}
.tk-4{
    background-color: purple;
}
.input-btn{
    padding: 10px 300px;
    border-radius: 5px;
}
.submit-btn{
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: palevioletred;
}
.subscribe{
    text-align: center;
    background-color: #b7e8cf;
    height: 40vh;
    width: 10px 50px;
    padding-top: 50px;
}
.foot-section{
    border-radius: 15px;
    padding: 30px 200px;
}
.foot-section .subscribe{
    margin: 20px 30px;
    border-radius: 15px;
}
.sub-title{
    font-weight: bold;
    font-size: 30px;
}
.input-bar{
    font-size: 30px;
    padding: 10px 30px;
    margin: 10px 0px;
    text-decoration: none;
}
.email-bar{
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
}
.subs-bar{
    padding: 10px 5px;
    border-radius: 5px;
    color:white;
    background-color: #006A50;
}
.last-bd{
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 30px;
}
.foot-png {
    padding: 20px 0;
    margin: 10px 20px;
}

    